{% extends "base.html" %}
<!-- home {% now "jS F Y H:i" %} -->
{% block title %}Mechanical Scribe - About{% endblock %}
{% block content %}

<div style="float: left; width: 300px; margin-right: 30px">
    <p></p><strong>About Chris Wilson: </strong>I'm a columnist at Yahoo News, where I write data-driven stories and produce interactive visualizations.
    I have a degree in English and am largely a self-taught coder, which is why most of the personal projects on this site don't work. 
    My fiance&eacute; Susan and I live in Washington, D.C. Feel free to contact me about anything you see here. </p>
</div>
<div style="float: left; width: 150px"><img style="width: 125px" src="{{ MEDIA_URL }}img/site/cw.jpg" /></div>

<table id="contactinfo">
    <tr>
        <td style="width: 30px"><img style="height: 24px" src="{{ MEDIA_URL }}img/site/icon_email.png" /></td>
        <td><a href="mailto:christopher.e.wilson@gmail.com">Email</a></td>
    </tr>    
    <tr>
        <td><img style="height: 24px" src="{{ MEDIA_URL }}img/site/icon_twitter.png" /></td>
        <td><a href="http://twitter.com/#!/chriswilsondc">Twitter</a></td>
    </tr>    
    <tr>
        <td><img style="height: 24px" src="{{ MEDIA_URL }}img/site/icon_git.png" /></td>
        <td><a href="https://github.com/mechanicalscribe">GitHub</a></td>
    </tr>    
    <tr>
        <td><img style="height: 24px" src="{{ MEDIA_URL }}img/site/icon_so.png" /></td>
        <td><a href="http://stackoverflow.com/users/1779735/chris-wilson">Stack Overflow</a></td>
    </tr>    
    <tr>
        <td><img style="height: 24px" src="{{ MEDIA_URL }}img/site/icon_gplus.png" /></td>
        <td><a href="https://plus.google.com/110031939045881263506">Google+</a></td>
    </tr>    
</table>


<!--
    <a href="https://plus.google.com/110031939045881263506" target="_blank">Google+ <img src="{{ MEDIA_URL }}img/site/icon_gplus.png" /></a><br />
    <a href="https://github.com/mechanicalscribe" target="_blank">GitHub <img src="{{ MEDIA_URL }}img/site/icon_git.png" /></a><br />
</div>
-->

{% endblock %}