{% extends "base.html" %}
<!-- home {% now "jS F Y H:i" %} -->
{% block title %}Mechanical Scribe - About{% endblock %}
{% block content %}

<div>I'm a native of Charlottesville, Va. with a degree in English from the University of Virginia. More recently, I've learned to code in a variety of programming languages, and enjoy experimenting with how the two can be combined into interactive storytelling. Feel free to contact me if you have any questions about any of the projects on this site.</div>
<br />
<a href="mailto:christopher.e.wilson@gmail.com">Email <img src="{{ MEDIA_URL }}img/site/icon_email.png" /></a><br />
<a href="http://www.facebook.com/christopher.e.wilson" target="_blank">Facebook <img src="{{ MEDIA_URL }}img/site/icon_facebook.png" /></a><br />		
<a href="http://twitter.com/#!/chriswilsondc" target="_blank">Twitter <img src="{{ MEDIA_URL }}img/site/icon_twitter.png" /></a><br />
<a href="https://plus.google.com/110031939045881263506" target="_blank">Google+ <img src="{{ MEDIA_URL }}img/site/icon_gplus.png" /></a><br />
<a href="https://github.com/mechanicalscribe" target="_blank">GitHub <img src="{{ MEDIA_URL }}img/site/icon_git.png" /></a><br />

{% endblock %}