{% extends "base.html" %}
<!-- home {% now "jS F Y H:i" %} -->
{% block title %}Mechanical Scribe - Home{% endblock %}

{% block css %}
    {% for note in notes|dictsortreversed:"published" %}
        {{ note.styles|safe }}
    {% endfor %}  
{% endblock %}

{% block content %}
    {% for note in notes|dictsortreversed:"published" %}
    <div class="post">
        <div class="headline"><a href="/notes/{{ note.slug }}">{{ note.title|safe }}</a></div>
        <div id="pubbed_at" class="date">{{ note.published|date:"F j, Y" }}</div>
        <div id="teaser">{{ note.teaser|safe }}</div>
        <div id="bodytext">{{ note.body|safe }}</div>
	</div>
	{% endfor %}  
{% endblock %}

{% block javascript %}
    {{ template.code|safe }}
    {% for note in notes|dictsortreversed:"published" %}
        {{ note.code|safe }}
    {% endfor %}  
{% endblock %}