{% extends "base.html" %}
<!-- home {% now "jS F Y H:i" %} -->
{% block title %}Mechanical Scribe - Home{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
    {% for note in notes|dictsortreversed:"published" %}
    <div class="post">
    	<div class="headline"><a href="/notes/{{ note.slug }}">{{ note.title|safe }}</a></div>
        <div id="pubbed_at" class="date">{{ note.published|date:"F j, Y" }}</div>
        <div id="bodytext">{{ note.teaser|safe }}</div>
	</div>
	{% endfor %}  
{% endblock %}

{% block javascript %}

{{ template.code|safe }}

{% endblock %}
