{% extends "base.html" %}
<!-- home {% now "jS F Y H:i" %} -->
{% block title %}Mechanical Scribe - {{ note.title }}{% endblock %}

{% block css %}
    {{ note.styles|safe }}
{% endblock %}

{% block content %}
    <div class="note">
        <h1 class="headline">{{ note.title}}</h1>
        <div id="pubbed_at">{{ note.published|date:"F j, Y" }}
        </div>
        <div id="note">
    	{{ note.body|safe }}
        </div>
        <div class="date" id="byline">{{ note.author }}</div>
    </div>
{% endblock %}

{% block javascript %}
    {% for sticky in note.stickies.all %}
        {{ sticky.code|safe }}
    {% endfor %}
    {{ note.code|safe }}
{% endblock %}
