{% extends "base.html" %}
<!-- home {% now "jS F Y H:i" %} -->
{% block title %}Mechanical Scribe - {{ note.title }}{% endblock %}
{% block content %}
    <h1>{{ note.title}}</h1>
    <div id="pubbed_at">{{ note.published|date:"F j, Y" }}
    </div>
    <div id="note">
	{{ note.body|safe }}
    </div>
    <div class="date" id="byline">{{ note.author }}</div>
    <script>
    {% for sticky in note.stickies.all %}
        {{ sticky.code|safe }}
    {% endfor %}
    </script>    
{% endblock %}

{% block content %}
    {{ note.code|safe }}
{% endblock %}
